{% extends 'base.html' %}

{% block content %}





  <div class="py-5">
    <h1 class="display-5 fw-bold text-dark text-center">Welcome To the Authentication Page</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4 text-center">Creating a Customer Relationship Management (CRM) system using Django, 
        a popular web framework in Python, can be a rewarding and efficient way to manage interactions 
        with clients and streamline business processes. In this hypothetical project overview, 
        let's outline the key features and components of a Django CRM</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
       
       
        <button type="button" class="btn btn-outline-secondary btn-md px-4 me-sm-3 fw-bold text-dark"><a href="/signup">Signup</a></button>
        <button type="button" class="btn btn-outline-secondary btn-md px-4 fw-bold text-dark"><a href="/signin">SignIn</a></button>
      
      
      

        
       
      </div>
    </div>
  </div>
  







{% endblock %}

